body{
    background-image: url('images/background_1.png');
}

img{
    margin-bottom: 20px;
    max-height: 300px;
    border-radius: 20px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700 ;
    font-size: 130px;
}

h2{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.headline{
    margin-top: 350px;
    height: 100vh;
}