header{
    height: 100vh;
}

img{
    margin-bottom: 20px;
    max-height: 300px;
    border-radius: 20px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700 ;
    font-size: 130px;
}

h2{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-size: 60px;
    
}

.headline{
    margin-top: 250px;
}

button {
    padding: 5px 45px ;
    font-family: "Space Grotesk",
        sans-serif;
    font-size: 25px;
    font-weight: 600;
    border: solid 3px #6772E6;
    border-radius: 50px;
    background-color: transparent;
    color: #6772E6;
}

.arrow {
    display: block;
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
    color: white;
    transition: all 200ms ease-in-out;
}

a {
    text-decoration: none;
    color: #6772E6;
}

.arrow:hover {
    cursor: pointer;
    scale: 1.3;
    transition: all 200ms ease-in-out;
}