body{
    background-image: url('images/background_2.png');
}

img{
    margin-bottom: 20px;
    max-height: 300px;
    border-radius: 20px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700 ;
    font-size: 130px;
}

h2{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 200px;
}

.headline{
    margin-top: 350px;
    height: 50vh;
}

button {
    padding: 5px 45px ;
    font-family: "Space Grotesk",
        sans-serif;
    font-size: 25px;
    font-weight: 600;
    border: solid 3px #6772E6;
    border-radius: 50px;
    background-color: transparent;
    color: #6772E6;
}

.arrow {
    display: block;
    text-align: center;
    font-size: 70px;
    margin-bottom: 100px;
}